{{#> layout title="TEXT" currentUrl="./" bodyClass="G-frontpage"}}

	{{> partials/hero}}

	<div class="Section">
		<div class="container">

			<div class="CardSet">

				<article class="Card">
					<h4 class="Card__heading">TEXT_TEXT</h4>

					<p class="Card__text">TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT</p>

					<a href="./item.html" class="Card__link">
						<span>TEXT</span>
						{{icon "arrow" class="Icon -arrow"}}
					</a>

					<div class="Figure -circle Card__figure">
						<img src="../images/icons/bulb.png" alt="" class="Icon" loading="lazy">
					</div>
				</article>

				<article class="Card">
					<h4 class="Card__heading">TEXT_TEXT</h4>

					<p class="Card__text">TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT</p>

					<a href="./item.html" class="Card__link">
						<span>TEXT</span>
						{{icon "arrow" class="Icon -arrow"}}
					</a>

					<div class="Figure -circle Card__figure">
						<img src="../images/icons/eco.png" alt="" class="Icon" loading="lazy">
					</div>
				</article>

			</div>

			<h2>TEXT_TEXT</h2>

			<ul class="FeatureList">

				<li class="Feature">
					<div class="Figure">
						<img src="../images/icons/list.png" class="Icon" alt="">
					</div>
					<p class="Feature__text">TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT</p>
				</li>

				<li class="Feature">
					<div class="Figure">
						<img src="../images/icons/handshake.png" class="Icon" alt="">
					</div>
					<p class="Feature__text">TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT</p>
				</li>

				<li class="Feature">
					<div class="Figure">
						<img src="../images/icons/gears.png" class="Icon" alt="">
					</div>
					<p class="Feature__text">TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT</p>
				</li>

				<li class="Feature">
					<div class="Figure">
						<img src="../images/icons/contract.png" class="Icon" alt="">
					</div>
					<p class="Feature__text">TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT_TEXT</p>
				</li>

			</ul>

		</div>
	</div>

{{/layout}}
