<div class="Hero">
	<div class="Hero__container">

		<div class="Hero__text">
			<h1>TEXT_TEXT_TEXT</h1>
			<p>TEXT_TEXT_TEXT_TEXT</p>
		</div>

		<img src="../../media/hero.png" class="Hero__image" alt="">

		<a href="./item.html" class="Button Hero__button">TEXT_TEXT_TEXT</a>

	</div>
</div>
